{% extends "base.html" %}

{% block content %}
<form action="new_card" class="my-5 flex flex-col items-center space-y-4">
  <input name="word" class="input-info w-64 px-2 py-2.5" placeholder="Your word" required>
  <input name="explanation" class="input-info w-64 px-2 py-2.5" placeholder="Word's explanation" required>
  <div class="space-x-2">
    <select name="group" class="input-info w-24 h-12 px-2 py-2.5">
      {% for group, _ in groups_cards %}
      <option class="font-light"> {{group}} </option>
      {% endfor %}
    </select>
    <a href="{% url 'groups' %}" class="btn w-32 px-5 py-2.5">
      Edit Groups
    </a>
  </div>
  <button type="submit" class="btn w-32 py-3">
    Add Card</button>
</form>
</div>

<div class="grid justify-center mb-10">
  {% for group, cards in groups_cards %}
  <h1 class="font-bold text-xl my-4 text-gray-400">"{{group}}" group:</h1>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-x-3 gap-y-3">
    <div class="add-card card grid place-content-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
        class="w-12 h-12">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </div>
    {% for card in cards %}
    <div id="{{ card.id }}" class="card relative group grid-row-3">
      <div>
        <p class="card-word">{{card.word}}</p>
        <p class="card-explanation">
          {{card.explanation}}</p>
      </div>
      <!--edit button-->
      <div class="absolute top-2 left-2 hidden group-hover:block">
        <button class="text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
        </button>
      </div>
      <!--remove button-->
      <button class="remove-btn absolute top-2 right-2 hidden group-hover:block text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
      </button>
      <!--confirm button-->
      <div class="absolute bottom-1.5 left-2 hidden group-hover:block">
        <button class="text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg></button>
      </div>
      <!--cancel button-->
      <div class="absolute bottom-1.5 right-2 hidden group-hover:block">
        <button class="text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<script>
  document.querySelectorAll('.remove-btn').forEach(function (button) {
    button.addEventListener('click', function (event) {
      var id = event.target.closest('div').id;
      event.target.closest('div').remove();
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/delete-card/' + id + '/');
      xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
      xhr.send();
    });
  });
</script>
{% endblock %}