{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center mt-6 gap-y-3">
  <div>
    <span class="text-gray-200 text-3xl">Test!</span>
  </div>
  <ul class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
    {% for card, bool in cards_rand %}
    <li class="grid grid-flow-col relative space-x-3 m-3">
      {% if bool %}
      <p class="w-24 text-right text-gray-300 text-xl">{{card.word}}</p>
      <p class="text-blue-200 text-xl">:</p>
      <input id="{{ card.id }}" class="input-info w-60 text-left">
      {% else %}
      <input id="{{ card.id }}" class="input-info w-24 text-right">
      <p class="text-xl text-blue-200">:</p>
      <p class="w-60 text-xl line-clamp-1 text-gray-300">{{card.explanation}}</p>
      {% endif %}
      <div id="tick-{{ card.id }}" class="invisible absolute right-0 text-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"
          class="h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
        </svg>
      </div>
      <div id="cross-{{ card.id }}" class="invisible text-rose-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"
          class="h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div>
    <button onclick="checkTest()" id="check-btn" class="check-btn btn w-24 py-2.5 px-5 mr-2 mb-2">
      Check</button>
  </div>
</div>


<script>
  document.querySelectorAll('.input-info').forEach((input) => {
    input.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("check-btn").click();
      }
    });
  });

  function incrementCard(cardID) {
    let xhr = new XMLHttpRequest();
    xhr.open("POST", `/increment-card/${cardID}/`);
    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    xhr.send();
  }

  function decrementCard(cardID) {
    let xhr = new XMLHttpRequest();
    xhr.open("POST", `/decrement-card/${cardID}/`);
    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    xhr.send();
  }

  let combinedCardsRands = JSON.parse('{{ js_cards_rands|escapejs }}');
  let isChecked = combinedCardsRands.reduce((obj, [card, _]) => {
    obj[card.id] = false;
    return obj;
  }, {});
  function checkTest() {
    combinedCardsRands.forEach(element => {
      let card = element[0];
      let isRight = element[1];
      let inputValue = document.getElementById(card.id).value;
      if (inputValue === "") {
        return;
      }
      if (isRight && inputValue === card.explanation || !isRight && inputValue === card.word) {
        if (!isChecked[card.id]) {
          isChecked[card.id] = true;
          incrementCard(card.id);
        }
        document.getElementById(`tick-${card.id}`).style.visibility = "visible";
        document.getElementById(`cross-${card.id}`).style.visibility = "hidden";
      } else {
        if (!isChecked[card.id]) {
          isChecked[card.id] = true;
          decrementCard(card.id);
        }
        document.getElementById(`tick-${card.id}`).style.visibility = "hidden";
        document.getElementById(`cross-${card.id}`).style.visibility = "visible";
      }
    });
  }
</script>
{% endblock %}