{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block head_title %}carddeck home{% endblock %}</title>
  {% include "head/css.html" %}
</head>
<div class="flex justify-center p-10 text-gray-200 hover:text-black hover:bg-gray-50 font-light text-3xl">
  <h1>Once you go Django, you can't go back</h1>
</div>

<body class="bg-gradient-to-r from-gray-900 to-gray-700">
  {% block content %}{% endblock %}
</body>

</html>